/*Silvia SuÃ¡rez Prendes, UO277412*/


/*Especificidad: 001*/
section {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

/*Especificidad: 002*/
section article {
    box-shadow: 0 .75ex .75ex #BB9CC0;
    color: #021a2a;
    width: calc(25% - 1em);
    height: fit-content;
    border-radius: 0.85em;
    box-shadow: 0 .75ex .75ex #6f5c5c;
    background-color: #C1A3A3;
    /* margin: 2em 1em .5em 2em; */
    margin: 2.5em 0.5em; 
    padding: 2em; 
    text-align: left;
}

/*Especificidad: 012*/
article>p:first-of-type {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

p {
    margin: 1em 6em 0 2em;
}

article h3 {
    text-align: center;
    /* margin: 2em 1em .5em 2em; */
}
