/*Silvia SUÃ¡rez Prendes, UO277412*/

/* Especificidad: 001*/
section:last-of-type {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Espaciado entre las tarjetas */
    justify-content: space-between;
    /* Distribuye el espacio entre las tarjetas */
    width: 100%;
    text-align: center;
    margin: auto;
}

/*Especificidad: 012*/
section:last-of-type>h2 {
    width: 100%;
    margin: auto;
    text-align: center;
    margin: auto;
}


/* Especificidad: 012*/
section:last-of-type>h2 {
    width: 100%;
    text-align: center;
}

/*Especificidad: 001*/
article {
    flex: 0 20%;
    gap: 10ex;
    height: 10em;
    box-shadow: 0.1ex .1ex .8ex #042034;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    position: relative;
}

/*Especificidad: 002*/
/*Especificidad: 002*/
article h3,
article img {
    backface-visibility: hidden;
    margin: 0;
    padding: 0em;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
/*Especificidad: 002*/
article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*Especificidad: 002*/
article img {    
    transform: rotateY(180deg);
}
/*Especificidad: 011*/
article[data-state = "flip"] {
    transform: rotateY(180deg);
}
/*Especificidad: 011*/
article[data-state = "revealed"] {
    transform: rotateY(180deg);
}

@media only screen and (max-width: 1280px) {
    /*Especificidad: 011*/
    section:last-of-type {
        width: 90%;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 768px) { 
    /*Especificidad: 002*/
    article h3 {
        font-size: .9em;
    }
    /*Especificidad: 011*/
    section:last-of-type {
        gap: 1ex 1ex;
        width: 100%;
    }