/* Celia Melendi Lavandera UO276077 */
/* Paleta
Rose Quartz #F0E1DE background
Dark Blue #274472 text
Accent Red #7F1010
Scallop Seashell #F7C9B6 alt background

Links
link #722777
visited #31495E
hover background #294765
active #5885AF
*/
/*Especificidad: 001*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F0E1DE;
    color: #274472;
    margin: 0;
}
/*Especificidad: 001*/
h1 {
    font-size: 2em;
    font-variant: small-caps;
}
/*Especificidad: 001*/
h2 {
    font-size: 1.5em;
    margin: 0 1em;
}
/*Especificidad: 001*/
h3 {
    font-size: 1.2em;
    font-style: italic;
    margin: 0 2em;
}
/*Especificidad: 001*/
p {
    font-size: 1em;
}
/*Especificidad: 001*/
p,
li {
    margin: 0 3em;
}
/*Especificidad: 001*/
dt {
    font-weight: bold;
    margin: 0 4em;
}
/*Especificidad: 001*/
dd {
    font-size: 0.9em;
    margin: 0 6em;
}
/*Especificidad: 001*/
li {
    list-style-position: inside;
}
/*Especificidad: 013*/
section>ul>li:nth-child(3) {
    color: #7F1010;
}
/*Especificidad: 011*/
a:link {
    color: #722777;
}
/*Especificidad: 011*/
a:visited {
    color: #31495E;
}
/*Especificidad: 011*/
a:hover {
    background: #294765;
    color: #F0E1DE;
}
/*Especificidad: 011*/
a:active {
    background: #F7C9B6;
    color: black;
}
/*Especificidad: 001*/
video {
    max-width: 100%;
    height: auto;
    padding: 1em 0 2em;
}
/*Especificidad: 001*/
audio {
    margin: 1em 10%;
}
/*Especificidad: 001*/
button{
    cursor: pointer;
    background: #274472;
    color: #FFF2F0;
    border-radius: 1em;
    border-color: #274472;
    font-weight: bold;
}
/*Especificidad: 011*/
button:hover {
    background: #AFE5EF;
    color: #274472;
}