/*Silvia SUárez Prendes, UO277412*/

/* Especificidad: 012 */
/* Especificidad: 012 */
body>h2 {
    margin-top: 6em;
}

form {
    margin-top: 6em;
}

/* Especificidad: 001 */
main {
    width: 500px;
    height: 500px;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(9, 1fr);
    margin: 0 auto 1.25em;
}

/*Especificidad: 002*/
main>p {
    margin: 0;
    text-align: center;
    border: .01em solid #2e2e2e98;
    padding: 1em 0;
    /* background-color: #99c7ffa1; */
    background-color: #f0e1d1a1;
}

/*Especificidad: 012*/
main>p[data-row="0"] {
    border-top: .3em solid black;
}

/*Especificidad: 012*/
main>p[data-row="10"] {
    border-bottom: .3em solid black;
}


/*Especificidad: 012*/
main>p[data-col="0"] {
    border-left: .3em solid black;
}

/*Especificidad: 012*/
main>p[data-col="8"] {
    border-right: .3em solid black;
}

/*Especificidad: 012*/
main>p[data-state="empty"] {
   background-color: #000000 ;
}

/*Especificidad: 002*/
body>h2 {
    margin-bottom: 2em;
    text-align: center;
}

/*Especificidad: 012*/
section:last-of-type>h2 {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 1.5em;
}

/*Especificidad: 001*/
input[type='submit'] {
    background-color: #886767;
    color: #ffffff;
    margin: auto;
    padding: .5em 1em;
    font-size: 1em;
    border-radius: 1em;
    font-weight: bold;
}

/*Especificidad: 022*/
main>p[data-state="init"]:hover,
/*Especificidad: 012*/
main>p[data-state="clicked"] {
    background-color: #cab7a2bd;
}