
/*Silvia SUárez Prendes, UO277412*/

/* Especificidad: 001*/
/* Especificidad: 001*/
header,
nav {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    padding: 1em;
}

/* Especificidad: 001*/
nav {
    display: block;
    position: relative;
    gap: 0 3em;
}

/* Especificidad: 002*/
nav a {
    color: #021a2a;
}

/* Especificidad: 011*/
a:hover {
    background: #E7BCDE;
    border-radius: 10px;
}

/*Especificidad: 011*/
a:visited {
    color: #3f2f2f;
}

/*Especificidad: 002*/
nav ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

/*Especificidad: 003*/
nav ul li {
    display: inline-block;
    position: relative;
    padding: 1.1em .1em;
    text-decoration: none;
}

/*Especificidad: 002*/
nav a {
    padding: 1.1em .1em;
}

/*Especificidad: 012*/
header a:link,
header a:visited {
    text-decoration: none;
    color: #021a2a;
    font-weight: bold;
    font-size: 1.1em;
}

/* Especificidad: 011*/
a:hover {
    background: #F3C5C5;
}

/*Especificidad: 012*/
header a:hover,
/*Especificidad: 012*/
header a:active {
    background-color: #F3C5C5;
}


@media only screen and (max-width: 768px) {
    /*Especificidad: 001*/
    header,
    /*Especificidad: 002*/
    nav ul {
        display: block;
        position: relative;
        gap: 0 25em;
    }
    /*Especificidad: 002*/
    nav ul li {
        padding: .5em 0;
    }
    /*Especificidad: 002*/
    nav ul {
        padding: 0;
    }
    /*Especificidad: 002*/
    nav a {
        padding: .5em 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
    /*Especificidad: 001*/
    header,
    /*Especificidad: 002*/
    nav li {
        display: flex;
        flex-direction: row;
        align-items: first baseline;
        padding: 1em;
    }
    /*Especificidad: 002*/
    nav li {
        padding: .5ex 0;
    }
    /*Especificidad: 002*/
    nav ul {
        padding: 0;
    }
    /*Especificidad: 002*/
    nav a {
        padding: .5em 0;
    }
}