/*Silvia SUárez Prendes, UO277412*/

/* Especificidad: 001 */
main {
    width: 500px;
    height: 500px;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: .2em solid black;
    margin: 0 auto 1.25em;
}

/*Especificidad: 002*/
main>p {
    margin: 0;
    text-align: center;
    border: .01em solid #2e2e2e98;
    padding: 1em 0;
    /* background-color: #99c7ffa1; */
    background-color: #f0e1d1a1;
}

/*Especificidad: 022*/
main>p:nth-child(3n):not(:nth-child(9n)) {
    border-right: .15em solid black;
}

/*Especificidad: 012*/
main>p[data-row="2"],
/*Especificidad: 012*/
main>p[data-row="5"] {
    border-bottom: .15em solid black;
}

/*Especificidad: 012*/
main>p[data-state="blocked"]{
    font-weight: bold;
}

/*Especificidad: 002*/
body>h2{
    margin-bottom: 2em;
    text-align: center;
}

/*Especificidad: 012*/
section:last-of-type>h2 {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 1.5em;
}

/*Especificidad: 002*/
body>p{
    color: #F3E9E7;
    background-color: #7F1010;
    padding: .3em;
    margin: .3em;
}

/*Especificidad: 022*/
main>p[data-state="init"]:hover,
/*Especificidad: 012*/
main>p[data-state="clicked"]{
    background-color: #cab7a2bd;
}