/* Celia Melendi Lavandera UO276077 */
/*Especificidad: 011*/
section:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1ex 2ex;
    width: 50%;
    margin: auto;
}
/*Especificidad: 012*/
section:last-of-type>h2 {
    width: 100%;
    margin: auto;
    text-align: center;
}
/*Especificidad: 001*/
article {
    flex: 0 20%;
    position: relative;
    height: 14em;
    background: #AFE5EF;
    box-shadow: 0 .5ex .5ex #274472;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
/*Especificidad: 002*/
article h3,
/*Especificidad: 002*/
article img {
    backface-visibility: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
/*Especificidad: 002*/
article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*Especificidad: 002*/
article img {    
    transform: rotateY(180deg);
}
/*Especificidad: 011*/
article[data-state = "flip"] {
    transform: rotateY(180deg);
}
/*Especificidad: 011*/
article[data-state = "revealed"] {
    transform: rotateY(180deg);
}


@media only screen and (max-width: 1280px) {
    /*Especificidad: 011*/
    section:last-of-type {
        width: 90%;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 768px) { 
    /*Especificidad: 002*/
    article h3 {
        font-size: .9em;
    }
    /*Especificidad: 011*/
    section:last-of-type {
        gap: 1ex 1ex;
        width: 100%;
    }
}